@font-face {
    font-family: RobotoCondensed;
    src: url("fonts/RobotoCondensed-Regular.ttf") format('truetype'),
         url("fonts/RobotoCondensed-LightItalic.ttf") format('truetype'),
         url("fonts/RobotoCondensed-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}